/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .restaurant-list {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    padding: 10px;
  }
  
  .restaurant-container {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    width: 225px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .restaurant-name {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .restaurant-image {
    width: 100%;
    max-width: 225px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .restaurant-link {
    font-size: 16px;
    color: #555;
    text-decoration: none;
    margin-top: auto;
  }
  
  .restaurant-link:hover {
    text-decoration: underline;
  }
  
