body {
    background-color: #ffda9e;
   
}

.tabela {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fdf9c4;
    border-radius: 8px;
    border-style: dotted;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 05px;
    padding: 05px;
 
}
.p{
    font-family: 'Poppins', sem serifa;
    font-size: 20px;
    color: #000;
   
}
.link{
    font-family: 'Roboto', sem serifa;
    font-size: 20px;
    color: #000;
   
}
.img{
    height: 200px;
    width: 230px;
    border-radius: 20px;

   
}

